<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">Redgum Interactive</h1>
    <p>
    <a class="post-link" href="https://github.com/TheloniousBee">GitHub</a> 
    |
    <a class="post-link" href="https://redguminteractive.itch.io/">itch.io</a> 
    |
    <a class="post-link" href="mailto:liam@redguminteractive.com.au" target="_blank" rel="noopener noreferrer">email</a>
    <!--
    |
    <a class="post-link" href="4">4</a> 
    |-->
    </p>
  </div>
</header>

{% include menu.html %}
